In [5]:
import sys
sys.path.append('/Users/tiansu/Documents/git/ml4t/ML4T_2017Summer')
import pandas as pd
import numpy as np
import datetime as dt
from util import get_data, plot_data

In [217]:
orders_file = 'orders/orders-12-modified.csv'
start_val = 1000000
orders = pd.read_csv(orders_file, index_col=0, parse_dates=True, sep=',')
orders = orders.sort_index()
# orders = orders[:4]
orders

           Symbol Order  Shares
Date
2011-01-10    XOM   BUY    1500
2011-01-13    XOM  SELL    1500
2011-01-13    IBM   BUY    4000
2011-01-26   GOOG   BUY    1000
2011-02-02   AAPL  SELL     400
2011-02-10   AAPL   BUY     400
2011-03-03   GOOG  SELL    1000
2011-03-03    IBM  SELL    2200
2011-05-03    IBM   BUY    1500
2011-06-03    IBM  SELL    3300
2011-06-10   AAPL   BUY   10000
2011-08-01   GOOG   BUY      55
2011-08-01   GOOG  SELL      55
2011-12-20   AAPL  SELL    1200

In [218]:
dates = pd.date_range(orders.index[0], orders.index[-1])
symbols = orders['Symbol'].unique().tolist()

In [219]:
prices = get_data(symbols, dates)[symbols] 
prices = pd.concat([prices, pd.DataFrame(index=dates)],axis=1) 
prices = prices.fillna(method='ffill')
prices

              XOM     IBM    GOOG    AAPL
2011-01-10  72.02  143.41  614.21  340.99
2011-01-11  72.56  143.06  616.01  340.18
2011-01-12  73.41  144.82  616.87  342.95
2011-01-13  73.54  144.55  616.69  344.20
2011-01-14  74.62  145.70  624.18  346.99
2011-01-15  74.62  145.70  624.18  346.99
2011-01-16  74.62  145.70  624.18  346.99
2011-01-17  74.62  145.70  624.18  346.99
2011-01-18  75.45  146.33  639.63  339.19
2011-01-19  75.00  151.22  631.75  337.39
2011-01-20  74.53  151.33  626.77  331.26
2011-01-21  75.71  151.04  611.83  325.32
2011-01-22  75.71  151.04  611.83  325.32
2011-01-23  75.71  151.04  611.83  325.32
2011-01-24  75.34  155.05  611.08  336.01
2011-01-25  75.43  156.81  619.91  339.94
2011-01-26  76.37  156.42  616.50  342.38
2011-01-27  76.58  156.45  616.79  341.74
2011-01-28  75.72  154.64  600.99  334.66
2011-01-29  75.72  154.64  600.99  334.66
2011-01-30  75.72  154.64  600.99  334.66
2011-01-31  77.34  157.35  600.36  337.87
2011-02-01  80.44  158.87  611.04  343.55
2011-02-02  79.96  158.62  612.00  342.85
2011-02-03  79.99  158.84  610.15  341.97
2011-02-04  79.84  159.30  610.98  345.02
2011-02-05  79.84  159.30  610.98  345.02
2011-02-06  79.84  159.30  610.98  345.02
2011-02-07  80.46  160.09  614.29  350.38
2011-02-08  79.97  161.93  618.38  353.68
...           ...     ...     ...     ...
2011-11-21  75.48  179.26  580.94  367.43
2011-11-22  74.61  179.09  580.00  374.90
2011-11-23  73.19  175.77  570.11  365.42
2011-11-24  73.19  175.77  570.11  365.42
2011-11-25  72.52  174.89  563.00  362.02
2011-11-26  72.52  174.89  563.00  362.02
2011-11-27  72.52  174.89  563.00  362.02
2011-11-28  74.43  179.98  588.19  374.51
2011-11-29  75.50  178.72  582.93  371.60
2011-11-30  78.94  185.70  599.39  380.57
2011-12-01  78.30  187.13  613.77  386.27
2011-12-02  78.30  187.34  620.36  388.03
2011-12-03  78.30  187.34  620.36  388.03
2011-12-04  78.30  187.34  620.36  388.03
2011-12-05  78.95  188.50  625.65  391.33
2011-12-06  79.31  190.58  623.77  389.28
2011-12-07  79.57  191.67  623.39  387.43
2011-12-08  78.38  189.23  616.05  388.99
2011-12-09  79.82  192.18  627.42  391.94
2011-12-10  79.82  192.18  627.42  391.94
2011-12-11  79.82  192.18  627.42  391.94
2011-12-12  78.56  189.83  625.39  390.16
2011-12-13  79.03  188.81  625.63  387.15
2011-12-14  77.96  186.41  618.07  378.56
2011-12-15  78.54  185.18  619.54  377.32
2011-12-16  78.67  181.32  625.96  379.39
2011-12-17  78.67  181.32  625.96  379.39
2011-12-18  78.67  181.32  625.96  379.39
2011-12-19  78.05  180.65  621.83  380.58
2011-12-20  80.47  184.95  630.37  394.26

[345 rows x 4 columns]

In [220]:
col = ['order', 'leverage', 'transaction'] + symbols
trade = pd.DataFrame(columns=col+['cash'], index=[dates])
trade.ix[0, ['order']] = start_val
trade[col] = trade[col].fillna(value=0)
trade.ix[0, 'cash'] = 0
trade = trade.merge(prices, how='left', left_index=True, right_index=True, suffixes=('', '_price'))
trade

,order,leverage,transaction,XOM,IBM,GOOG,AAPL,cash,XOM_price,IBM_price,GOOG_price,AAPL_price
2011-01-10,1000000,0,0,0,0,0,0,0,72.02,143.41,614.21,340.99
2011-01-11,0,0,0,0,0,0,0,NaN,72.56,143.06,616.01,340.18
2011-01-12,0,0,0,0,0,0,0,NaN,73.41,144.82,616.87,342.95
2011-01-13,0,0,0,0,0,0,0,NaN,73.54,144.55,616.69,344.20
2011-01-14,0,0,0,0,0,0,0,NaN,74.62,145.70,624.18,346.99
2011-01-15,0,0,0,0,0,0,0,NaN,74.62,145.70,624.18,346.99
2011-01-16,0,0,0,0,0,0,0,NaN,74.62,145.70,624.18,346.99
2011-01-17,0,0,0,0,0,0,0,NaN,74.62,145.70,624.18,346.99
2011-01-18,0,0,0,0,0,0,0,NaN,75.45,146.33,639.63,339.19
2011-01-19,0,0,0,0,0,0,0,NaN,75.00,151.22,631.75,337.39
2011-01-20,0,0,0,0,0,0,0,NaN,74.53,151.33,626.77,331.26
2011-01-21,0,0,0,0,0,0,0,NaN,75.71,151.04,611.83,325.32
2011-01-22,0,0,0,0,0,0,0,NaN,75.71,151.04,611.83,325.32
2011-01-23,0,0,0,0,0,0,0,NaN,75.71,151.04,611.83,325.32
2011-01-24,0,0,0,0,0,0,0,NaN,75.34,155.05,611.08,336.01
2011-01-25,0,0,0,0,0,0,0,NaN,75.43,156.81,619.91,339.94
2011-01-26,0,0,0,0,0,0,0,NaN,76.37,156.42,616.50,342.38
2011-01-27,0,0,0,0,0,0,0,NaN,76.58,156.45,616.79,341.74
2011-01-28,0,0,0,0,0,0,0,NaN,75.72,154.64,600.99,334.66
2011-01-29,0,0,0,0,0,0,0,NaN,75.72,154.64,600.99,334.66
2011-01-30,0,0,0,0,0,0,0,NaN,75.72,154.64,600.99,334.66
2011-01-31,0,0,0,0,0,0,0,NaN,77.34,157.35,600.36,337.87
2011-02-01,0,0,0,0,0,0,0,NaN,80.44,158.87,611.04,343.55
2011-02-02,0,0,0,0,0,0,0,NaN,79.96,158.62,612.00,342.85
2011-02-03,0,0,0,0,0,0,0,NaN,79.99,158.84,610.15,341.97
2011-02-04,0,0,0,0,0,0,0,NaN,79.84,159.30,610.98,345.02
2011-02-05,0,0,0,0,0,0,0,NaN,79.84,159.30,610.98,345.02
2011-02-06,0,0,0,0,0,0,0,NaN,79.84,159.30,610.98,345.02
2011-02-07,0,0,0,0,0,0,0,NaN,80.46,160.09,614.29,350.38
2011-02-08,0,0,0,0,0,0,0,NaN,79.97,161.93,618.38,353.68
...,...,...,...,...,...,...,...,...,...,...,...,...
2011-11-21,0,0,0,0,0,0,0,NaN,75.48,179.26,580.94,367.43
2011-11-22,0,0,0,0,0,0,0,NaN,74.61,179.09,580.00,374.90
2011-11-23,0,0,0,0,0,0,0,NaN,73.19,175.77,570.11,365.42
2011-11-24,0,0,0,0,0,0,0,NaN,73.19,175.77,570.11,365.42
2011-11-25,0,0,0,0,0,0,0,NaN,72.52,174.89,563.00,362.02
2011-11-26,0,0,0,0,0,0,0,NaN,72.52,174.89,563.00,362.02
2011-11-27,0,0,0,0,0,0,0,NaN,72.52,174.89,563.00,362.02
2011-11-28,0,0,0,0,0,0,0,NaN,74.43,179.98,588.19,374.51
2011-11-29,0,0,0,0,0,0,0,NaN,75.50,178.72,582.93,371.60
2011-11-30,0,0,0,0,0,0,0,NaN,78.94,185.70,599.39,380.57
2011-12-01,0,0,0,0,0,0,0,NaN,78.30,187.13,613.77,386.27
2011-12-02,0,0,0,0,0,0,0,NaN,78.30,187.34,620.36,388.03
2011-12-03,0,0,0,0,0,0,0,NaN,78.30,187.34,620.36,388.03
2011-12-04,0,0,0,0,0,0,0,NaN,78.30,187.34,620.36,388.03
2011-12-05,0,0,0,0,0,0,0,NaN,78.95,188.50,625.65,391.33
2011-12-06,0,0,0,0,0,0,0,NaN,79.31,190.58,623.77,389.28
2011-12-07,0,0,0,0,0,0,0,NaN,79.57,191.67,623.39,387.43
2011-12-08,0,0,0,0,0,0,0,NaN,78.38,189.23,616.05,388.99
2011-12-09,0,0,0,0,0,0,0,NaN,79.82,192.18,627.42,391.94
2011-12-10,0,0,0,0,0,0,0,NaN,79.82,192.18,627.42,391.94
2011-12-11,0,0,0,0,0,0,0,NaN,79.82,192.18,627.42,391.94
2011-12-12,0,0,0,0,0,0,0,NaN,78.56,189.83,625.39,390.16
2011-12-13,0,0,0,0,0,0,0,NaN,79.03,188.81,625.63,387.15
2011-12-14,0,0,0,0,0,0,0,NaN,77.96,186.41,618.07,378.56
2011-12-15,0,0,0,0,0,0,0,NaN,78.54,185.18,619.54,377.32
2011-12-16,0,0,0,0,0,0,0,NaN,78.67,181.32,625.96,379.39
2011-12-17,0,0,0,0,0,0,0,NaN,78.67,181.32,625.96,379.39
2011-12-18,0,0,0,0,0,0,0,NaN,78.67,181.32,625.96,379.39
2011-12-19,0,0,0,0,0,0,0,NaN,78.05,180.65,621.83,380.58
2011-12-20,0,0,0,0,0,0,0,NaN,80.47,184.95,630.37,394.26

In [221]:
def calculate_leverage(trade, date, symbols):
    lev_abs_sum = 0
    lev_sum = 0
    for tick in symbols:
        share_cum_col = str(tick+'_cum')
        stock_price_col = str(tick+'_price')
        stock_position = trade.ix[date, share_cum_col] * trade.ix[date, stock_price_col]
        lev_abs_sum += np.abs(stock_position)
        lev_sum += stock_position
    cash = trade.ix[date, 'cash']
    leverage = lev_abs_sum / (lev_sum + cash)
    return leverage
    
for i in range(len(orders)):
    row = orders.ix[i]
    number_share = row['Shares']
    tick = row['Symbol']
    date = orders.index[i]
    
    if row['Order'] == 'SELL':
        buy_sell = -1.0
    elif row['Order'] == 'BUY':
        buy_sell = 1.0   
    else:
        print "Wrong value."
    
    trade_orig = trade.copy()
    trade.ix[date, tick] += (number_share * buy_sell)
    transaction_cost = 9.95
    trade.ix[date, 'transaction'] -= prices.ix[date, tick] * number_share * (buy_sell + 0.005) + transaction_cost
    # cumsum of stock shares
    trade[[str(tick+'_cum') for tick in symbols]] = trade[symbols].cumsum()
    # cumsum of transactions
    trade['transaction_cum'] = trade['transaction'].cumsum()
    # calculate cash in hand
    trade['cash'] = trade['transaction_cum'] + start_val
                 
    leverage = calculate_leverage(trade, date, symbols)
    if leverage > 2.0:
        trade = trade_orig
        print "forbiden"


#     print "Stock:", row['Symbol']
#     print "Order type:", row['Order']
#     print "Cost of order:", orderCost
#     print "Date order placed:", date, "\n"

forbiden

In [203]:
trade #-537059.25  303848.00

,order,leverage,transaction,AAPL,IBM,XOM,cash,AAPL_price,IBM_price,XOM_price,AAPL_cum,IBM_cum,XOM_cum
2011-01-10,1000000,0,-514052.375,1500.0,0.0,0.0,0,340.99,143.41,72.02,1500.0,0.0,0.0
2011-01-11,0,0,0.000,0.0,0.0,0.0,NaN,340.18,143.06,72.56,1500.0,0.0,0.0
2011-01-12,0,0,0.000,0.0,0.0,0.0,NaN,342.95,144.82,73.41,1500.0,0.0,0.0
2011-01-13,0,0,-67392.400,-1500.0,4000.0,0.0,NaN,344.20,144.55,73.54,0.0,4000.0,0.0
2011-01-14,0,0,0.000,0.0,0.0,0.0,NaN,346.99,145.70,74.62,0.0,4000.0,0.0
2011-01-15,0,0,0.000,0.0,0.0,0.0,NaN,346.99,145.70,74.62,0.0,4000.0,0.0
2011-01-16,0,0,0.000,0.0,0.0,0.0,NaN,346.99,145.70,74.62,0.0,4000.0,0.0
2011-01-17,0,0,0.000,0.0,0.0,0.0,NaN,346.99,145.70,74.62,0.0,4000.0,0.0
2011-01-18,0,0,0.000,0.0,0.0,0.0,NaN,339.19,146.33,75.45,0.0,4000.0,0.0
2011-01-19,0,0,0.000,0.0,0.0,0.0,NaN,337.39,151.22,75.00,0.0,4000.0,0.0
2011-01-20,0,0,0.000,0.0,0.0,0.0,NaN,331.26,151.33,74.53,0.0,4000.0,0.0
2011-01-21,0,0,0.000,0.0,0.0,0.0,NaN,325.32,151.04,75.71,0.0,4000.0,0.0
2011-01-22,0,0,0.000,0.0,0.0,0.0,NaN,325.32,151.04,75.71,0.0,4000.0,0.0
2011-01-23,0,0,0.000,0.0,0.0,0.0,NaN,325.32,151.04,75.71,0.0,4000.0,0.0
2011-01-24,0,0,0.000,0.0,0.0,0.0,NaN,336.01,155.05,75.34,0.0,4000.0,0.0
2011-01-25,0,0,0.000,0.0,0.0,0.0,NaN,339.94,156.81,75.43,0.0,4000.0,0.0
2011-01-26,0,0,0.000,0.0,0.0,0.0,NaN,342.38,156.42,76.37,0.0,4000.0,0.0
2011-01-27,0,0,0.000,0.0,0.0,0.0,NaN,341.74,156.45,76.58,0.0,4000.0,0.0
2011-01-28,0,0,0.000,0.0,0.0,0.0,NaN,334.66,154.64,75.72,0.0,4000.0,0.0
2011-01-29,0,0,0.000,0.0,0.0,0.0,NaN,334.66,154.64,75.72,0.0,4000.0,0.0
2011-01-30,0,0,0.000,0.0,0.0,0.0,NaN,334.66,154.64,75.72,0.0,4000.0,0.0
2011-01-31,0,0,0.000,0.0,0.0,0.0,NaN,337.87,157.35,77.34,0.0,4000.0,0.0
2011-02-01,0,0,0.000,0.0,0.0,0.0,NaN,343.55,158.87,80.44,0.0,4000.0,0.0
2011-02-02,0,0,318230.850,0.0,0.0,-4000.0,NaN,342.85,158.62,79.96,0.0,4000.0,-4000.0

In [190]:
# cumsum of stock shares
trade[[str(tick+'_cum') for tick in symbols]] = trade[symbols].cumsum()
# cumsum of transactions
trade['transaction_cum'] = trade['transaction'].cumsum()
# calculate cash in hand
trade['cash'] = trade['transaction_cum'] + start_val
trade['stock_value'] = 0
for tick in symbols:
    print tick
    trade['stock_value'] += trade[str(tick+'_cum')] * trade[str(tick+'_price')] 
trade['portval'] = trade['cash'] + trade['stock_value']

AAPL
IBM
XOM

In [191]:
trade

,order,leverage,transaction,AAPL,IBM,XOM,cash,AAPL_price,IBM_price,XOM_price,AAPL_cum,IBM_cum,XOM_cum,transaction_cum,stock_value,portval
2011-01-10,1000000,0,-1542157.125,4500.0,0.0,0.0,-542157.125,340.99,143.41,72.02,4500.0,0.0,0.0,-1542157.125,1534455.0,992297.875
2011-01-11,0,0,0.000,0.0,0.0,0.0,-542157.125,340.18,143.06,72.56,4500.0,0.0,0.0,-1542157.125,1530810.0,988652.875
2011-01-12,0,0,0.000,0.0,0.0,0.0,-542157.125,342.95,144.82,73.41,4500.0,0.0,0.0,-1542157.125,1543275.0,1001117.875
2011-01-13,0,0,-134784.800,-3000.0,8000.0,0.0,-676941.925,344.20,144.55,73.54,1500.0,8000.0,0.0,-1676941.925,1672700.0,995758.075
2011-01-14,0,0,0.000,0.0,0.0,0.0,-676941.925,346.99,145.70,74.62,1500.0,8000.0,0.0,-1676941.925,1686085.0,1009143.075
2011-01-15,0,0,0.000,0.0,0.0,0.0,-676941.925,346.99,145.70,74.62,1500.0,8000.0,0.0,-1676941.925,1686085.0,1009143.075
2011-01-16,0,0,0.000,0.0,0.0,0.0,-676941.925,346.99,145.70,74.62,1500.0,8000.0,0.0,-1676941.925,1686085.0,1009143.075
2011-01-17,0,0,0.000,0.0,0.0,0.0,-676941.925,346.99,145.70,74.62,1500.0,8000.0,0.0,-1676941.925,1686085.0,1009143.075
2011-01-18,0,0,0.000,0.0,0.0,0.0,-676941.925,339.19,146.33,75.45,1500.0,8000.0,0.0,-1676941.925,1679425.0,1002483.075
2011-01-19,0,0,0.000,0.0,0.0,0.0,-676941.925,337.39,151.22,75.00,1500.0,8000.0,0.0,-1676941.925,1715845.0,1038903.075
2011-01-20,0,0,0.000,0.0,0.0,0.0,-676941.925,331.26,151.33,74.53,1500.0,8000.0,0.0,-1676941.925,1707530.0,1030588.075
2011-01-21,0,0,0.000,0.0,0.0,0.0,-676941.925,325.32,151.04,75.71,1500.0,8000.0,0.0,-1676941.925,1696300.0,1019358.075
2011-01-22,0,0,0.000,0.0,0.0,0.0,-676941.925,325.32,151.04,75.71,1500.0,8000.0,0.0,-1676941.925,1696300.0,1019358.075
2011-01-23,0,0,0.000,0.0,0.0,0.0,-676941.925,325.32,151.04,75.71,1500.0,8000.0,0.0,-1676941.925,1696300.0,1019358.075
2011-01-24,0,0,0.000,0.0,0.0,0.0,-676941.925,336.01,155.05,75.34,1500.0,8000.0,0.0,-1676941.925,1744415.0,1067473.075
2011-01-25,0,0,0.000,0.0,0.0,0.0,-676941.925,339.94,156.81,75.43,1500.0,8000.0,0.0,-1676941.925,1764390.0,1087448.075
2011-01-26,0,0,0.000,0.0,0.0,0.0,-676941.925,342.38,156.42,76.37,1500.0,8000.0,0.0,-1676941.925,1764930.0,1087988.075
2011-01-27,0,0,0.000,0.0,0.0,0.0,-676941.925,341.74,156.45,76.58,1500.0,8000.0,0.0,-1676941.925,1764210.0,1087268.075
2011-01-28,0,0,0.000,0.0,0.0,0.0,-676941.925,334.66,154.64,75.72,1500.0,8000.0,0.0,-1676941.925,1739110.0,1062168.075
2011-01-29,0,0,0.000,0.0,0.0,0.0,-676941.925,334.66,154.64,75.72,1500.0,8000.0,0.0,-1676941.925,1739110.0,1062168.075
2011-01-30,0,0,0.000,0.0,0.0,0.0,-676941.925,334.66,154.64,75.72,1500.0,8000.0,0.0,-1676941.925,1739110.0,1062168.075
2011-01-31,0,0,0.000,0.0,0.0,0.0,-676941.925,337.87,157.35,77.34,1500.0,8000.0,0.0,-1676941.925,1765605.0,1088663.075
2011-02-01,0,0,0.000,0.0,0.0,0.0,-676941.925,343.55,158.87,80.44,1500.0,8000.0,0.0,-1676941.925,1786285.0,1109343.075
2011-02-02,0,0,636461.700,0.0,0.0,-8000.0,-40480.225,342.85,158.62,79.96,1500.0,8000.0,-8000.0,-1040480.225,1143555.0,1103074.775

In [212]:
def compute_portvals(orders_file="./orders/orders.csv", start_val=1000000):
    # Add orders to dataframe
    orders = pd.read_csv(orders_file, index_col=0, parse_dates=True, sep=',')
    orders = orders.sort_index()

    dates = pd.date_range(orders.index[0], orders.index[-1])
    dates = get_data(['SPY'], dates).index.get_values()
    print dates.shape
    symbols = orders['Symbol'].unique().tolist()

    # get price data
    prices = get_data(symbols, dates)[symbols]
    prices = pd.concat([prices, pd.DataFrame(index=dates)], axis=1)
    prices = prices.fillna(method='ffill')

    # create framework of trade table
    col = ['order', 'leverage', 'transaction'] + symbols
    trade = pd.DataFrame(columns=col + ['cash'], index=[dates])
    trade.ix[0, ['order']] = start_val
    trade[col] = trade[col].fillna(value=0)
    trade.ix[0, 'cash'] = 0
    trade = trade.merge(prices, how='left', left_index=True, right_index=True,
                        suffixes=('', '_price'))

    for i in range(len(orders)):
        row = orders.ix[i]
        number_share = row['Shares']
        tick = row['Symbol']
        date = orders.index[i]

        if row['Order'] == 'SELL':
            buy_sell = -1.0
        elif row['Order'] == 'BUY':
            buy_sell = 1.0
        else:
            print "Wrong value."

        trade.ix[date, tick] += (number_share * buy_sell)
        transaction_cost = 9.95
        market_impact = 0.005
        trade.ix[date, 'transaction'] -= prices.ix[date, tick] \
                                         * number_share \
                                         * (buy_sell + market_impact) \
                                         + transaction_cost

    # cumsum of stock shares
    trade[[str(tick+'_cum') for tick in symbols]] = trade[symbols].cumsum()
    # cumsum of transactions
    trade['transaction_cum'] = trade['transaction'].cumsum()
    # calculate cash in hand
    trade['cash'] = trade['transaction_cum'] + start_val
    # calculate the value of the current stock holding
    trade['stock_value'] = 0
    for tick in symbols:
        print tick
        trade['stock_value'] += trade[str(tick+'_cum')] * trade[str(tick+'_price')] 
    # add the cash and stock_value to get the portfolio value
    trade['portval'] = trade['cash'] + trade['stock_value']
    print trade['portval'].shape
    
    return pd.DataFrame(trade['portval'])

In [213]:
compute_portvals(orders_file="orders/orders-01-noleverage.csv", start_val=1000000)

(245,)
AAPL
IBM
XOM
GOOG
(245,)

                 portval
2011-01-10  9.974326e+05
2011-01-11  9.962176e+05
2011-01-12  1.000373e+06
2011-01-13  9.967552e+05
2011-01-14  1.001355e+06
2011-01-18  1.003875e+06
2011-01-19  1.023435e+06
2011-01-20  1.023875e+06
2011-01-21  1.022715e+06
2011-01-24  1.038755e+06
2011-01-25  1.045795e+06
2011-01-26  1.044235e+06
2011-01-27  1.044355e+06
2011-01-28  1.037115e+06
2011-01-31  1.047955e+06
2011-02-01  1.054035e+06
2011-02-02  1.051426e+06
2011-02-03  1.052186e+06
2011-02-04  1.054626e+06
2011-02-07  1.055306e+06
2011-02-08  1.064626e+06
2011-02-09  1.060826e+06
2011-02-10  1.054533e+06
2011-02-11  1.053573e+06
2011-02-14  1.051133e+06
2011-02-15  1.049653e+06
2011-02-16  1.051813e+06
2011-02-17  1.055093e+06
2011-02-18  1.057453e+06
2011-02-22  1.046173e+06
...                  ...
2011-11-15  1.174191e+06
2011-11-16  1.164701e+06
2011-11-17  1.153969e+06
2011-11-18  1.149961e+06
2011-11-21  1.134707e+06
2011-11-22  1.143297e+06
2011-11-23  1.124617e+06
2011-11-25  1.118601e+06
2011-11-28  1.144787e+06
2011-11-29  1.138523e+06
2011-11-30  1.164643e+06
2011-12-01  1.174629e+06
2011-12-02  1.177203e+06
2011-12-05  1.183715e+06
2011-12-06  1.185831e+06
2011-12-07  1.186009e+06
2011-12-08  1.182513e+06
2011-12-09  1.192543e+06
2011-12-12  1.185237e+06
2011-12-13  1.179381e+06
2011-12-14  1.163793e+06
2011-12-15  1.159599e+06
2011-12-16  1.153591e+06
2011-12-19  1.153545e+06
2011-12-20  1.177046e+06
2011-12-21  1.164456e+06
2011-12-22  1.165730e+06
2011-12-23  1.171721e+06
2011-12-27  1.172203e+06
2011-12-28  1.168048e+06

[245 rows x 1 columns]